<!--
/*
| ---------------------------------
| # content here
| ---------------------------------
*/
-->
<mat-sidenav-content> 
    <div class="theme-search md-whiteframe-1dp" [ngClass]="{ 'active' : searchbar }">
        <input type="text" class="theme-search-input" placeholder="Search for keywords ...">
    </div>       
    <mat-toolbar color="primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layer">
                        <button mat-icon-button (click)="navService.openNav()">
                            <i class="flaticon-signs"></i>
                        </button>  
                        <span class="text-capitalize">{{ pageTitle }}</span>                       
                        <div class="pull-right">
                            <button mat-icon-button (click)="toggleClass(searchbar = !searchbar)" class="mr-3">
                                <i class="flaticon-search"></i>
                            </button>                                							
                            <button mat-icon-button (click)="navService.openSidebar()">
                                <i class="flaticon-grid-menu"></i>
                            </button>					
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <!--
    /*
    | ---------------------------------
    | # content here
    | ---------------------------------
    */
    -->
    <div class="content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h1 class="page-title">   
                    <i class="page-icon flaticon-users"></i>
                    Customer Information
                    <button *ngIf="!activeForm" (click)="toggleForm(activeForm = !activeForm)" mat-flat-button class="bg-primary pull-right">
                        New <i class="la la-angle-double-right"></i>
                    </button>
                    <button *ngIf="activeForm" (click)="toggleForm(activeForm = !activeForm)" mat-flat-button class="bg-primary pull-right">
                        <i class="la la-angle-double-left"></i> Back 
                    </button>
                </h1>
                <mat-card [ngStyle]="{'height': documentHeight + 'px' }">
                    <div class="customer-content" [ngClass]="{ 'active' : activeForm }">
                        
                        <!--
                        /*
                        | ---------------------------------
                        | # table
                        | ---------------------------------
                        */
                        -->
                        <div class="content-table">
                            <div class="row">
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="typeFilter" (ngModelChange)="filteredDataSource()" placeholder="Search by type">
                                            <mat-option value="">All</mat-option>
                                            <mat-option *ngFor="let customertype of customertypes" [value]="customertype.id">{{customertype.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="vehicleFilter" (ngModelChange)="filteredDataSource()" placeholder="Search by vehicle">
                                            <mat-option value="">All</mat-option>
                                            <mat-option *ngFor="let vechile of vehicles" [value]="vechile.id">{{vechile.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="statusFilter" (ngModelChange)="filteredDataSource()" placeholder="Search by status">
                                            <mat-option value="">All</mat-option>
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="0">Inactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <input [(ngModel)]="searchFilter" (keyup)="filteredDataSource()" matInput placeholder="Search by keywords">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="dataSource" matSort class="table">
                                            <!-- rfid column -->
                                            <ng-container matColumnDef="rfid">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> RFID No </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.rfid_no }} </td>
                                            </ng-container>
                                            
                                            <!-- fullname column -->
                                            <ng-container matColumnDef="fullname">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.firstname }} {{ element.middlename }} {{ element.lastname }} </td>
                                            </ng-container>
                                            
                                            <!-- gender column -->
                                            <ng-container matColumnDef="gender">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.gender }} </td>
                                            </ng-container>
                                            
                                            <!-- type column -->
                                            <ng-container matColumnDef="type">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.customer_type }} </td>
                                            </ng-container>

                                            <!-- vehicle column -->
                                            <ng-container matColumnDef="vehicle">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.vehicle_name }} </td>
                                            </ng-container>

                                            <!-- modified at column -->
                                            <ng-container matColumnDef="modified_at">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST MODIFIED AT </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.created_at | date: 'dd/MM/yyyy hh:mm:ss' }} </td>
                                            </ng-container>

                                            <!-- status column -->
                                            <ng-container matColumnDef="subscription">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscription </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <span class="badge badge-pill badge-success" *ngIf="element.status == 'subscribed'">
                                                        subscribed
                                                    </span>
                                                    <span class="badge badge-pill badge-secondary" *ngIf="element.status == 'entry'">
                                                        entry
                                                    </span>
                                                </td>
                                            </ng-container>

                                            <!-- status column -->
                                            <ng-container matColumnDef="status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <span class="text-success" *ngIf="element.is_active == 1">
                                                        Active
                                                    </span>
                                                    <span class="text-danger" *ngIf="element.is_active == 0">
                                                        Inactive
                                                    </span>
                                                </td>
                                            </ng-container>

                                            <!-- commands column -->
                                            <ng-container matColumnDef="commands">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> COMMANDS </th>
                                                <td mat-cell *matCellDef="let element">  
                                                    <button (click)="editRow(element.id, element.fixed_rate)" mat-icon-button>
                                                        <i class="la la-edit"></i>
                                                    </button>	
                                                    <button (click)="deleteRow(element.id)" mat-icon-button>
                                                        <i class="la la-trash"></i>
                                                    </button>
                                                </td>
                                            </ng-container>
                                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                        /*
                        | ---------------------------------
                        | # form
                        | ---------------------------------
                        */
                        -->
                        <div class="content-form">
                            <form (ngSubmit)="saveCustomer()" [formGroup]="CustomerForm" novalidate>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="First Name" formControlName="firstname" required>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Middle Name" formControlName="middlename">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Last Name" formControlName="lastname" required>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Gender" formControlName="gender" required>
                                                        <mat-option value="Male">Male</mat-option>
                                                        <mat-option value="Female">Female</mat-option>
                                                    </mat-select>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="Birthdate" formControlName="birthdate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Type" formControlName="customer_type_id" required>
                                                        <mat-option *ngFor="let customertype of customertypes" [value]="customertype.id">{{customertype.name}}</mat-option>
                                                    </mat-select>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Vehicle" formControlName="vehicle_id" required>
                                                        <mat-option *ngFor="let vechile of vehicles" [value]="vechile.id">{{vechile.name}}</mat-option>
                                                    </mat-select>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Model" formControlName="model">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Plate No" formControlName="plate_no" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="RFID No" (keydown.enter)="$event.preventDefault()" formControlName="rfid_no" required>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Payment Type" formControlName="payment_type_id" required>
                                                        <mat-option [value]="1">Cash</mat-option>
                                                        <mat-option [value]="2">Credits</mat-option>
                                                    </mat-select>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <button type="submit" [disabled]="CustomerForm.invalid || isLoading" mat-fab class="btn-float bg-primary" [ngClass]="{ 'active' : activeForm }">
                                    <i class="la la-save"></i>
                                </button>
                            </form>  
                        </div> 
                        
                    </div>
                    <div class="overlay-spinner">
                        <mat-spinner></mat-spinner>
                    </div>
                </mat-card>
                <mat-card class="mt-4 mb-4 d-none fadeIn animated" [ngClass]="{ 'd-block' : activeFormSubscribe }">
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                        <div class="mb-4 col-sm-6">
                            <button (click)="openDialog()" mat-flat-button class="bg-primary pull-right">
                                Add New Subscription
                            </button>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table mat-table [dataSource]="dataSource2" matSort class="table">
                                    <!-- rfid column -->
                                    <ng-container matColumnDef="transaction_no">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction No </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.transaction_no }} </td>
                                    </ng-container>
                                    
                                    <!-- fullname column -->
                                    <ng-container matColumnDef="registration_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Date </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.registration_date | date: 'dd-MMM-yyyy' }} </td>
                                    </ng-container>
                                    
                                    <!-- gender column -->
                                    <ng-container matColumnDef="expiration_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.expiration_date | date: 'dd-MMM-yyyy' }} </td>
                                    </ng-container>
                                    
                                    <!-- type column -->
                                    <ng-container matColumnDef="total_amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.total_amount }} </td>
                                    </ng-container>

                                    <!-- type column -->
                                    <ng-container matColumnDef="excess_rate_option">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Excess Rate Option </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.excess_rate_option }} </td>
                                    </ng-container>

                                    <!-- modified at column -->
                                    <ng-container matColumnDef="modified_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST MODIFIED AT </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <span *ngIf="element.updated_at != null">{{ element.updated_at | date: 'dd/MM/yyyy hh:mm:ss' }}</span>
                                            <span *ngIf="element.updated_at == null">{{ element.created_at | date: 'dd/MM/yyyy hh:mm:ss' }}</span>
                                        </td>
                                    </ng-container>

                                    <!-- status column -->
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                                        <td mat-cell *matCellDef="let element"> 
                                            <span class="badge badge-pill badge-info" *ngIf="element.status == 'draft'">
                                                draft
                                            </span>
                                            <span class="badge badge-pill badge-success" *ngIf="element.status == 'valid'">
                                                valid
                                            </span>
                                            <span class="badge badge-pill badge-secondary" *ngIf="element.status == 'expired'">
                                                expired
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- commands column -->
                                    <ng-container matColumnDef="commands">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> COMMANDS </th>
                                        <td mat-cell *matCellDef="let element">  
                                            <button (click)="editDialog(element.id, element.total_amount, element.registration_date, element.expiration_date, element.allowance_minute, element.excess_rate_option, element.status)" mat-icon-button>
                                                <i class="la la-edit"></i>
                                            </button>	
                                            <button (click)="deleteDialog(element.id, element.status)" mat-icon-button>
                                                <i class="la la-trash"></i>
                                            </button>
                                            <button (click)="updateDialog(element.id, element.status)" mat-icon-button>
                                                <i class="la la-check-circle"></i>
                                            </button>
                                        </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>           
        </div>
    </div>
</mat-sidenav-content>