<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="LOGS">
        <div class="tab-content fadeIn animated">
            <mat-list class="list mat-elevation-z1 p-3">
                <h3 mat-subheader>HISTORY LOGS</h3>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/1.jpg">
                    <h3 matLine>
                        John
                        <span class="pull-right">Just Now</span>
                    </h3>
                    <p matLine>
                    <span>Brunch?</span>
                    <span class="subline">-- Did you want to go on Sunday? I was thinking</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/2.jpg">
                    <h3 matLine>
                        Peter
                        <span class="pull-right">11 mins</span>
                    </h3>
                    <p matLine>
                    <span>Summer BBQ</span>
                    <span class="subline">-- Wish I could come, but I have some special</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/3.jpg">
                    <h3 matLine>
                        Nancy
                        <span class="pull-right">16 mins</span>
                    </h3>
                    <p matLine>
                    <span>Oui oui</span>
                    <span class="subline">-- Have you booked the Paris trip?</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/4.jpg">
                    <h3 matLine>
                        Frank
                        <span class="pull-right">1hrs 13mins</span>
                    </h3>
                    <p matLine>
                    <span>Pretty decent!</span>
                    <span class="subline">-- You look pretty... decent!</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/5.jpg">
                    <h3 matLine>
                        Donald
                        <span class="pull-right">1hrs 41mins</span>
                    </h3>
                    <p matLine>
                    <span>That's great!</span>
                    <span class="subline">-- Great work mate!</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                        <img mat-list-avatar src="assets/img/avatars/6.jpg">
                        <h3 matLine>
                            John
                            <span class="pull-right">2hrs 12mins</span>
                        </h3>
                        <p matLine>
                        <span>Brunch?</span>
                        <span class="subline">-- Did you want to go on Sunday? I was thinking</span>
                        </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/7.jpg">
                    <h3 matLine>
                        Peter
                        <span class="pull-right">3hrs 12mins</span>
                    </h3>
                    <p matLine>
                    <span>Summer BBQ</span>
                    <span class="subline">-- Wish I could come, but I have some special</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/8.jpg">
                    <h3 matLine>
                        Nancy
                        <span class="pull-right">4hrs 1min</span>
                    </h3>
                    <p matLine>
                    <span>Oui oui</span>
                    <span class="subline">-- Have you booked the Paris trip?</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/9.jpg">
                    <h3 matLine>
                        Frank
                        <span class="pull-right">5hrs</span>
                    </h3>
                    <p matLine>
                    <span>Pretty decent!</span>
                    <span class="subline">-- You look pretty... decent!</span>
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <img mat-list-avatar src="assets/img/avatars/10.jpg">
                    <h3 matLine
                        >Donald
                        <span class="pull-right">7hrs 29mins</span>
                    </h3>
                    <p matLine>
                    <span>That's great!</span>
                    <span class="subline">-- Great work mate!</span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-tab>
    <mat-tab label="SETTINGS">
        <div class="tab-content fadeIn animated">
            <mat-list class="list mat-elevation-z1 p-3">
                <h3 mat-subheader>GENERAL SETTINGS</h3>
                <mat-list-item>
                    <h3 matLine>
                        Email Notifications
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        Site Tracking
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        SMS Alerts
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        Audit Logs
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <h3 mat-subheader>SYSTEM SETTINGS</h3>
                <mat-list-item>
                    <h3 matLine>
                        System Logs
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        Error Reporting
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        Application Logs
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        Backup Server
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
                <mat-list-item>
                    <h3 matLine>
                        Audit Logs
                        <mat-slide-toggle class="pull-right"></mat-slide-toggle>
                    </h3>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-tab>
</mat-tab-group>    