<mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="Logs">
        <div class="tab-content fadeIn animated">
            Logs Content Here
        </div>
    </mat-tab>
    <mat-tab label="Settings">
        <div class="tab-content fadeIn animated">
            <mat-nav-list>
                <div mat-list-item>
                    <label>Email Notifications</label> <mat-slide-toggle position="end"></mat-slide-toggle>
                </div>
                <div mat-list-item>
                    SMS Alerts <mat-slide-toggle position="end"></mat-slide-toggle>
                </div>
            </mat-nav-list>
        </div>
    </mat-tab>
</mat-tab-group>    