<mat-sidenav-container>
    <mat-sidenav #left position="start" [(opened)]="opened" (opened)="log('Opened')" (closed)="log('Closed')">
		<div class="profile">
			<img src="assets/img/profile.jpg"/>
			<h1>Aliudin Amer Macalawi</h1>
		</div>
		<mat-nav-list>
			<a (click)="sidenav.close(); goTo('dashboard');" mat-list-item>
				<i class="flaticon-dashboard"></i> Dashboard
			</a>
			<h4 class="text-divider">
				Components
			</h4>
			<a (click)="sidenav.close(); goTo('pos')" mat-list-item>
				<i class="flaticon-share"></i> Point Of Sales
			</a>
			<a (click)="goTo('reports')" mat-list-item>
				<i class="flaticon-line-graph"></i> Reports
			</a>
            <a (click)="goTo('products')" mat-list-item>
                <i class="flaticon-interface-7"></i> Applications
            </a>
			<h4 class="text-divider">
				Settings
			</h4>
				<a (click)="goTo('accounts')" mat-list-item>
			<i class="flaticon-settings"></i> Account
			</a>
			<a (click)="logout()" mat-list-item>
				<i class="flaticon-logout"></i> Signout
			</a>
    	</mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="theme-search md-whiteframe-1dp" [ngClass]="{ 'active' : searchbar }">
            <input type="text" class="theme-search-input" placeholder="Search for keywords ...">
        </div>
        <mat-toolbar color="primary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="layer">
                            <button mat-icon-button (click)="opened=!opened">
                                <i class="flaticon-signs"></i>
                            </button>
                            {{ pageTitle }}
                            
                            <div class="pull-right">
								<button mat-icon-button (click)="toggleClass(searchbar = !searchbar)" class="mr-3">
									<i class="flaticon-search"></i>
                                </button>                                							
                                <button mat-icon-button (click)="opened2=!opened2">
                                    <i class="flaticon-grid-menu"></i>
                                </button>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <div class="content">
	        <div class="container-fluid">
	        	<div class="col-sm-12">
                    <h1 class="page-title">   
                        <i class="page-icon flaticon-users"></i>
                        Customer Information
                        <button *ngIf="!activeForm" (click)="toggleForm(activeForm = !activeForm)" mat-flat-button class="bg-primary pull-right">
                            New <i class="la la-angle-double-right"></i>
                        </button>
                        <button *ngIf="activeForm" (click)="toggleForm(activeForm = !activeForm)" mat-flat-button class="bg-primary pull-right">
                            <i class="la la-angle-double-left"></i> Back 
                        </button>
                    </h1>
                    <mat-card [ngStyle]="{'height': documentHeight + 'px' }">
                        <div class="customer-content" [ngClass]="{ 'active' : activeForm }">
                            <div class="content-table">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select placeholder="Search by type">
                                                <mat-option value="Parent">Parent</mat-option>
                                                <mat-option value="Student">Student</mat-option>
                                                <mat-option value="Employee">Employee</mat-option>
                                                <mat-option value="Visitor">Visitor</mat-option>
                                                <mat-option value="Overnight Parker">Overnight Parker</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <mat-select placeholder="Search by vehicle">
                                                <mat-option value="Parent">SUV</mat-option>
                                                <mat-option value="Student">Van</mat-option>
                                                <mat-option value="Employee">Bus</mat-option>
                                                <mat-option value="Visitor">Truck</mat-option>
                                                <mat-option value="Overnight Parker">Sedan</mat-option>
                                                <mat-option value="Overnight Parker">Taxi</mat-option>
                                                <mat-option value="Overnight Parker">Motorcycle</mat-option>
                                                <mat-option value="Overnight Parker">Bicycle</mat-option>
                                                <mat-option value="Overnight Parker">Tricycle</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-select placeholder="Search by status">
                                                    <mat-option value="Active">Active</mat-option>
                                                    <mat-option value="Inactive">Inactive</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    <div class="col-sm-3">
                                        <mat-form-field>
                                            <input matInput placeholder="Search by keywords">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <table class="table table-striped mt-3">
                                    <thead>
                                        <tr>
                                            <th>RFID No</th>
                                            <th>Fullname</th>
                                            <th>Gender</th>
                                            <th>Type</th>
                                            <th>Vehicle</th>
                                            <th>Status</th>
                                            <th>Commands</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of collection.data | paginate: config">
                                            <td>{{ item.id }}</td>
                                            <td>Ferdie Santiago</td>
                                            <td>Male</td>
                                            <td>Parents</td>
                                            <td>Sedan</td>
                                            <td>Active</td>
                                            <td>
                                                <a class="edit-item" href="javascript:;"><i class="la la-edit"></i></a>
                                                <a class="delete-item" href="javascript:;"><i class="la la-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls 
                                    [maxSize]="maxSize"
                                    [directionLinks]="directionLinks"
                                    [autoHide]="autoHide"
                                    [responsive]="responsive"
                                    [previousLabel]="labels.previousLabel"
                                    [nextLabel]="labels.nextLabel"
                                    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                    [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                    [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                    (pageChange)="onPageChange($event)">
                                </pagination-controls>
                                <div class="clearfix"></div>
                            </div>
                            <div class="content-form">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="First Name" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Middle Name">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Last Name" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Gender" required>
                                                        <mat-option value="Male">Male</mat-option>
                                                        <mat-option value="Female">Female</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker" placeholder="Birthdate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Type" required>
                                                        <mat-option value="Parent">Parent</mat-option>
                                                        <mat-option value="Student">Student</mat-option>
                                                        <mat-option value="Employee">Employee</mat-option>
                                                        <mat-option value="Visitor">Visitor</mat-option>
                                                        <mat-option value="Overnight Parker">Overnight Parker</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <mat-select placeholder="Vehicle" required>
                                                        <mat-option value="Parent">SUV</mat-option>
                                                        <mat-option value="Student">Van</mat-option>
                                                        <mat-option value="Employee">Bus</mat-option>
                                                        <mat-option value="Visitor">Truck</mat-option>
                                                        <mat-option value="Overnight Parker">Sedan</mat-option>
                                                        <mat-option value="Overnight Parker">Taxi</mat-option>
                                                        <mat-option value="Overnight Parker">Motorcycle</mat-option>
                                                        <mat-option value="Overnight Parker">Bicycle</mat-option>
                                                        <mat-option value="Overnight Parker">Tricycle</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Model">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="Plate No" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="RFID No" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div> 
                        </div>
                    </mat-card>
	            </div>           
	        </div>
	    </div>
    </mat-sidenav-content> 

    <mat-sidenav #right position="end" [(opened)]="opened2" (opened)="log2('Opened')" (closed)="log2('Closed')">
            <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
                <mat-tab label="Logs">
                    <div class="tab-content fadeIn animated">
                        Logs Content Here
                    </div>
                </mat-tab>
                <mat-tab label="Settings">
                    <div class="tab-content fadeIn animated">
                        <mat-nav-list>
                            <div mat-list-item>
                                <label>Email Notifications</label> <mat-slide-toggle position="end"></mat-slide-toggle>
                            </div>
                            <div mat-list-item>
                                SMS Alerts <mat-slide-toggle position="end"></mat-slide-toggle>
                            </div>
                        </mat-nav-list>
                    </div>
                </mat-tab>
            </mat-tab-group>                  
    </mat-sidenav>
</mat-sidenav-container>

<button mat-fab class="btn-float bg-primary" [ngClass]="{ 'active' : activeForm }">
    <i class="la la-save"></i>
</button>