mat-tab mat-nav-list {
    height: 100%;
    overflow: hidden;
}

mat-tab mat-nav-list mat-list-item {
    width: 100%;
    padding: 9px 0;
}

mat-tab mat-nav-list label {
    font-size: 1rem;
    font-weight: 400;
}

.content .col-sm-3 mat-card .table td, .table th { 
    padding: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #dee2e6;
}