mat-tab mat-nav-list {
    height: 100%;
    overflow: hidden;
}

mat-tab mat-nav-list mat-list-item {
    width: 100%;
    padding: 9px 0;
}

mat-tab mat-nav-list label {
    font-size: 1rem;
    font-weight: 400;
}