<mat-sidenav-content>        
    <mat-toolbar color="primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layer">
                        <button mat-icon-button (click)="navService.openNav()">
                            <i class="flaticon-signs"></i>
                        </button>  
                        <span class="text-capitalize">{{ pageTitle }}</span>                       
                        <div class="pull-right">
                            <button mat-icon-button (click)="toggleClass(searchbar = !searchbar)" class="mr-3">
                                <i class="flaticon-search"></i>
                            </button>                                							
                            <button mat-icon-button (click)="navService.openSidebar()">
                                <i class="flaticon-grid-menu"></i>
                            </button>					
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <div class="content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h1 class="page-title">   
                    <i class="page-icon la la-car"></i>
                    Vehicle Information
                    <button *ngIf="!activeForm" (click)="toggleForm(activeForm = !activeForm)" mat-flat-button class="bg-primary pull-right">
                        New <i class="la la-angle-double-right"></i>
                    </button>
                    <button *ngIf="activeForm" (click)="toggleForm(activeForm = !activeForm)" mat-flat-button class="bg-primary pull-right">
                        <i class="la la-angle-double-left"></i> Back 
                    </button>
                </h1>
                <mat-card [ngStyle]="{'height': documentHeight + 'px' }">
                    <div class="vehicle-content" [ngClass]="{ 'active' : activeForm }">
                        <div class="content-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <input [(ngModel)]="searchFilter" (keyup)="filteredDataSource()" matInput placeholder="Search by keywords">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="statusFilter" (ngModelChange)="filteredDataSource()" placeholder="Search by status">
                                            <mat-option value="1">Active</mat-option>
                                            <mat-option value="0">Inactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table mat-table [dataSource]="dataSource" matSort class="table">
                                            <!-- ID Column -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                                            </ng-container>
                                            
                                            <!-- CODE Column -->
                                            <ng-container matColumnDef="code">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CODE </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
                                            </ng-container>
                                            
                                            <!-- NAME Column -->
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                                            </ng-container>
                                            
                                            <!-- DESCRIPTION Column -->
                                            <ng-container matColumnDef="description">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                                            </ng-container>

                                            <!-- CREATED AT Column -->
                                            <ng-container matColumnDef="created_at">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATED AT </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.created_at | date: 'dd/MM/yyyy hh:mm:ss' }} </td>
                                            </ng-container>

                                            <!-- STATUS Column -->
                                            <ng-container matColumnDef="status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <span class="text-success" *ngIf="element.is_active == 1">
                                                        Active
                                                    </span>
                                                    <span class="text-danger" *ngIf="element.is_active == 0">
                                                        Inactive
                                                    </span>
                                                </td>
                                            </ng-container>

                                            <!-- CREATED AT Column -->
                                            <ng-container matColumnDef="commands">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> COMMANDS </th>
                                                <td mat-cell *matCellDef="let element">  
                                                    <button (click)="editRow(element.id)" mat-icon-button>
                                                        <i class="la la-edit"></i>
                                                    </button>	
                                                    <button (click)="deleteRow(element.id)" mat-icon-button>
                                                        <i class="la la-trash"></i>
                                                    </button>
                                                </td>
                                            </ng-container>
                                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-form">
                            <form (ngSubmit)="saveVehicle()" [formGroup]="VehicleForm" novalidate>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="code" formControlName="code" required>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="name" formControlName="name" required>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput placeholder="description" formControlName="description" required>
                                                    <mat-error>this field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="VehicleForm.invalid || isLoading" mat-fab class="btn-float bg-primary" [ngClass]="{ 'active' : activeForm }">
                                    <i class="la la-save"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="overlay-spinner">
                        <mat-spinner></mat-spinner>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</mat-sidenav-content>
