<mat-sidenav-content>        
    <mat-toolbar color="primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="layer">
                        <button mat-icon-button (click)="navService.openNav()">
                            <i class="flaticon-signs"></i>
                        </button>  
                        <span class="text-capitalize">{{ pageTitle }}</span>                       
                        <div class="pull-right">                            							
                            <button mat-icon-button (click)="navService.openSidebar()">
                                <i class="flaticon-grid-menu"></i>
                            </button>					
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar>
    <div class="content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h1 class="page-title">   
                    <i class="page-icon flaticon-dashboard"></i>
                    Dashboard Information
                </h1>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-card>
                            <h2 class="mb-4 mt-0">
                                Sales Overview
                                <button mat-icon-button class="pull-right download-button">
                                    <i class="la la-cloud-download"></i>
                                </button>	
                            </h2>
                            <div class="row">
                                
                                <div class="col-sm-6 p-5">
                                    <h1>
                                        <strong>₱{{ thismonthsales.toFixed(2) }}</strong>
                                    </h1>
                                    <h3>Sales this month</h3>
                                    <h5>
                                        <div class="success-wrapper">
                                            <i class="la la-caret-up"></i>
                                        </div>
                                        <span class="text-success">11% more sales</span> in comparison to last month.
                                    </h5> 
                                    <h5>
                                        <div class="danger-wrapper">
                                            <i class="la la-caret-down"></i>
                                        </div>
                                        <span class="text-danger">-2% revenue per sale</span> in comparison to last month.
                                    </h5>
                                    <button (click)="downloadSales()" mat-flat-button class="bg-primary view-details">View Details</button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="chart-wrapper">
                                        <canvas baseChart *ngIf="lineChartData"
                                            [datasets]="lineChartData" 
                                            [labels]="lineChartLabels" 
                                            [options]="lineChartOptions"
                                            [colors]="lineChartColors" 
                                            [legend]="lineChartLegend" 
                                            [chartType]="lineChartType" 
                                            [plugins]="lineChartPlugins">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-content>
        